

<div class="parent bg-gray-200">
    <div class="chalkboard">
    <div class="child-one child from-transparent text-center text-7xl bg-local p-6 bg-black text-white shadow-md">
        <div class="    "> My name is Draven. </div>
    </div>
    <div>
        <div class="child-two child text-center text-3xl pb-4 bg-black text-white dark-shadow text-align"><h1 class="">And I striving to become the best developer possible; while continuning to curate my creative side.</h1></div>
            <div class="flex child items-center justify-center pt-6 mx-auto"> 
                <div class="max-w-xs bg-gray-700 bg-gradient-to-br from-red-700 border-2 p-4 border-red-400 rounded-lg"><h2 class="text-white items-center text-center font-sans p-2 text-4xl font-bold shadow-lg">Designer </h2><p class="mt-4 text-base text-white text-xl">While I may be a coder on the side my main practice is designing.</p></div>
                    <div class="flex transition-opacity duration-200 mainPic2">
                    </div>
                 <div class="max-w-xs bg-gray-700 bg-gradient-to-br from-red-700 border-2 p-4 border-red-400 rounded-lg"><h2 class="text-white items-center text-center font-sans p-2 text-4xl font-bold shadow-lg"> Coder </h2><p class="mt-4 text-base text-white text-xl">While I may be a coder on the side my main practice is designing.</p></div>
                </div>
            <div class="text-4xl text-center pt-6 pb-6 bg-black from-gray-700 border-b-2 border-red-200"> <h1 class=" text-white"> Portfolio </h1></div>
        <div class="flex parent bg-gray-700 bg-gradient-to-br from-red-700">
               <div class=" parent container t2">
                <div class="child float-left m-6 mt-12 hover:scale-105 shadow-lg card">
                    <div class="circle mr-6"></div>
                    <div class="content textTest"><h2>Construction Management Site</h2>
                    <p class="select-none textTest">rokerkofger kogerokger ogker gkero gke ogker gkerog kero gkqerogkq eork ogker gkero gke ogker gkerog kero gkqerogkq eork ogker gkero gke ogker gkerog kero gkqerogkq eork</p></div>
                    <img src="https://genetic-vaccine-development.com/wp-content/uploads/sites/448/2021/01/22872-Genetic-Vaccine-Development-for-Infectious-Diseases-logo-e1611151734864.png">
                </div>
            </div>
            <div class=" parent container t2">
                <div class="child float-left m-6 mt-12 hover:scale-105 shadow-lg card">
                    <div class="circle"></div>
                    <div class="content textTest"><h2>Construction Management Site</h2>
                    <p class="select-none textTest">rokerkofger kogerokger ogker gkero gke ogker gkerog kero gkqerogkq eork ogker gkero gke ogker gkerog kero gkqerogkq eork ogker gkero gke ogker gkerog kero gkqerogkq eork</p></div>
                    <img src="https://www.pmi.org/-/media/pmi/landing-pages/micro-credentials-hub-page/micro-credential-badges-agilehybridproject.png?la=en&v=dbd40607-3d07-448a-b34e-304472286fce">
                </div>
            </div>
            <div class=" parent container t2">
                <div class="child float-left m-6 mt-12 hover:scale-105 shadow-lg card">
                    <div class="circle mr-6"></div>
                    <div class="content textTest"><h2>Construction Management Site</h2>
                    <p class="select-none textTest">rokerkofger kogerokger ogker gkero gke ogker gkerog kero gkqerogkq eork ogker gkero gke ogker gkerog kero gkqerogkq eork ogker gkero gke ogker gkerog kero gkqerogkq eork</p></div>
                    <img src="https://genetic-vaccine-development.com/wp-content/uploads/sites/448/2021/01/22872-Genetic-Vaccine-Development-for-Infectious-Diseases-logo-e1611151734864.png">
                </div>
            </div>
        </div>
        </div>
        </div>
</div>
