<section>
    <div class="mx-72">
        <div class=""><img class= "mx-auto border-transparent hover:scale-110 hover:translate-y-12 border-4 rounded-xl mb-24 " src="assets/resume.jpg"></div>
    
    <div>
        <a href="assets/Doom_Resume.pdf" download>
            <div class="mx-96 text-white text-center lg:text-7xl sm:text-4xl border-2 border-gray-900 rounded-xl slatePic mb-6">Download PDF</div>
        </a>
    </div>
    </div>
</section>