<section class ="main flex mt-4 mb-4" >  
    <div class ="grid grid-cols-3 mx-72 bg-black gap-4">
        <div class="w-12/12 row-span-4">
            <img src="/assets/crash.jpg" class="h-6/12 bg-bottom border-4 rounded-xl border-transparent ">
            <div class="text-white justify-center text-left mx-8 lg:mt-2 lg:text-3xl sm:text-sm hidden md:flex"> Title of Content  </div>
            <div class="border-b-2 border-gray-700 shadow-md mx-24 "></div>
            <div class="text-white text-left mx-auto lg:mt-2 sm:mx-auto lg:text-lg sm:text-sm">Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities! Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities! Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities!</div>            
        </div>
        <div class="grid-col-2 w-12/12">
            <img src="/assets/crash.jpg" class="h-6/12 bg-bottom border-4 rounded-xl border-transparent ">
            <div class="text-white justify-center text-left mx-8 lg:mt-2 lg:text-3xl sm:text-sm hidden md:flex"> Title of Content  </div>
            <div class="border-b-2 border-gray-700 shadow-md mx-24 "></div>
            <div class="text-white text-left mx-auto lg:mt-2 sm:mx-auto lg:text-lg sm:text-sm">Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities! Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities! Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities!</div>            
        </div>
        <div class="grid-col-3 w-12/12">
            <img src="/assets/crash.jpg" class="h-6/12 bg-bottom border-4 rounded-xl border-transparent ">
            <div class="text-white justify-center text-left mx-8 lg:mt-2 lg:text-3xl sm:text-sm hidden md:flex"> Title of Content  </div>
            <div class="border-b-2 border-gray-700 shadow-md mx-24 "></div>
            <div class="text-white text-left mx-auto lg:mt-2 sm:mx-auto lg:text-lg sm:text-sm">Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities! Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities! Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities!</div>            
        </div>
    </div>
</section>