<section class="main flex mt-6">
    <div class="flex row justify-center mx-auto lg:mx-72 sm:mx-24">
            <img src="/assets/dravendoomprofessional.png" class="w-7/12 bg-bottom">
        <div class="w-5/12">
            <div class="text-white text-center lg:text-7xl sm:text-4xl border-2 border-transparent rounded-xl slatePic ">About</div>
            <div class=" text-white text-left mx-auto lg:mt-4 sm:mx-4 lg:text-md sm:text-sm hidden md:flex">Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities! Opposed to practicing my programming skills, I enjoy plenty of other eventfull activities! Opposed to practicing my programming skills, I enjoy plenty of other eventfull activities! Opposed to practicing my programming skills, I enjoy plenty of other eventfull activities! </div>
            <div class=" text-white text-left mx-auto lg:mt-4 sm:mx-auto lg:text-lg sm:text-sm lg:hidden">Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities! </div>
            <div class="mt-4 border-gray-900 mb-2 "></div>
                <div class="grid grid-cols-2 rounded-xl">
                    <img src="/assets/art.jpg" class ="object-contain w-12/12 border-4 border-transparent rounded-xl h-76">
                    <img src="/assets/art.jpg" class ="object-contain w-12/12 border-4 border-transparent rounded-xl h-76">
                    <img src="/assets/art.jpg" class ="object-contain w-12/12 border-4 border-transparent rounded-xl mt-8 h-76">
                    <img src="/assets/art.jpg" class ="object-contain w-12/12 border-4 border-transparent rounded-xl mt-8 h-76">
                </div>
        </div>
    </div>
</section>
    <div class="border-b-4 border-black "></div>
<section>
    <div class ="flex row justify-center mx-auto slatePic">
        <div><img src="/assets/art.jpg" class ="leftSwoop w-64 mr-24 mb-4 mt-2 sm:w-24 lg:w-64 lg:mr-24 lg:mb-4 mt-4 hover:shadow-xl hover:scale-105">
            <h2 class="w-64 text-center text-white leftSwoop">A fraction of my time is spent with a draw pad creating charismatic art.</h2>
        </div>
        <div><img src="/assets/blueprint.jpg" class ="leftSwoop sm:w-24 lg:w-64 lg:mr-24 lg:mb-4 mt-2 hover:shadow-xl hover:scale-105">
            <h2 class="w-64 text-center text-white leftSwoop ">I also enjoy blueprints/planning and using tools to design websites or buildings.</h2>
        </div>
        <div><img src="/assets/bot.jpg" class ="leftSwoop w-64 h-64 mb-4 sm:w-24 lg:w-64 lg:mr-24 lg:mb-4 mt-2 hover:shadow-xl hover:scale-105">
            <h2 class="w-64 text-center text-white leftSwoop">While i program mostly websites... I also create bot programs for anything.</h2>
        </div>
    </div>
</section>
    <div class="border-b-4 border-black "></div>
<section class ="main flex mt-4 mb-4" >  
    <div class ="grid grid-cols-2 mx-72 bg-black gap-4">
        <div class="w-12/12 row-span-4">
            <div class="text-white text-center lg:text-7xl sm:text-4xl border-2 border-transparent rounded-xl slatePic ">About misc</div>
            <div class=" text-white text-left mx-4 lg:mt-6 lg:text-md sm:text-sm hidden md:flex"> When im not being creative I am being adventurous. I enjoy anything outdoors really... but do find myself a bit of a adrenaline addict. Found out I really enjoy mountain biking. This is where I will be when I am not in the office. I am always willing to challange myself and go the extra mile whether on the trails or in the office. Where I lack with organization I compensate with creativity.  </div>
            <div class=" text-white text-left mx-auto lg:mt-6 sm:mx-auto lg:text-lg sm:text-sm lg:hidden">Opposite to practicing my programming skills, I enjoy plenty of other eventfull activities! </div>            
        </div>
        <div class="grid-row-2 w-12/12">
            <img src="/assets/crash.jpg" class="w-12/12 bg-bottom border-4 rounded-xl border-transparent ">
        <div>
    </div>
</section>
